Base Styling
* {
    box-sizing: border-box   
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    padding: 0;
    color:#fff;
    background-color: #fed36e;
    padding-bottom: 0;
    margin: 0;    
    max-width:2000px;
}

p {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

a:hover {
    color:#fff;
    background-color:#ffa500; 
    transition-duration: .5s;     
}

a:link {
    color:#fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;    
}

/* ========= Base Layout Styles ========= */

.main-header,
.nav {
    display:flex;
    flex-direction: column;
}

.main-header {
    padding-top: 2em;
    margin-left:0;
}

.nav a {
    display: block;
    color: #fed36e;
    background-color: #fff;
    text-align: center;
    padding: 4px;
    margin-top: 4px;
    font-weight: 600;
}

.nav a:hover {
    color: #fff;
    background-color: #ffa500;
    transition-duration: .5s;
}

.name,
.footer-name{
    color: #fff;
}
.port-h2 {
    text-transform: uppercase;
    padding: 20px 0;
}

.img,
.intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    border-radius: 2%;
}

.intro-img {
    margin-bottom: 20px;
    width: 60%;
}

.intro {
    color: #fff;
    padding-bottom: 60px;
}

.portfolio {
    
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #ffa500;
    color: #fff;
}

.contact {
    margin-top: 30px;
}

.card {
    padding-bottom: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.card h2 {
    padding-top: 20px;
}

.skills {
    text-align: center;
    background-color: #fff;
    color: #ffa500;
    padding-top: 40px;
    padding-bottom: 40px;
}

.skills h2 {
    text-transform: uppercase;
}

.skills li {
    list-style-type: square;
    list-style-position: inside;
}

.contact {
    text-align: center;
    color: #fff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.contact h2{
    padding: 20px 0;
    text-transform: uppercase;
}

.contact li {
    line-height: 2.5em;
    letter-spacing: 1.7px;
}

.contact a{
    font-weight: bold;
    color: #ffa500;
}

.contact a:hover {
    color: #fff;
    transition-duration: .5s;
}

.main-footer {
    border-top: 1px solid #ffa500;
    margin-right: 15px;
    margin-left: 15px;
}

.main-footer,
.footer-name,
.footer-nav {
    margin-top: 25px;
    display:flex;
}

.footer-name{
    flex-direction: row;
    margin-right: auto;
    align-self: center;
    
}

.footer-nav li a {
    flex-direction: row;
    margin-left: 15px;
    text-transform: uppercase;
    
}

.non-mobile {
    display:none;
}
/* ===== Media Queries =====*/

@media (min-width: 768px) {

.nav {
    flex-direction: row;
    justify-content: space-between;
    margin:0 100px 50px;
    }

.nav li a {
    
    background-color: transparent;
    color: #fff;
    font-size: 1.3em;
    }

.nav a:hover {
    background-color: #fed36e;
    color: #ffa500;
    transition-duration: .5s;
    }
    

.intro-img {
    width: 40%;
    height: auto;
    float: right;
    margin-left: 30px;
    margin-right: 1.9%;
    }

.intro {
    margin: 40px ;
    font-size: 1.2em;
    }

.intro p{
    text-align: left;
    margin-left:0;
    }

.card {
    float: left;
    width: 50%;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.card p {
    width: 75%;
    height: 100px;
}

.skills p, ul{
    margin-top: 40px;
    font-size: 1.3em;
}

.contact p{
    font-size: 1.2em;
    max-width: 70%;
}

.main-footer {
    margin-left: 20px;
    margin-right: 20px;    
}
.footer-name {
    font-size: 1.4em;
    letter-spacing: 1.8px;
}
.mobile {
    display:none;
}

.non-mobile {
    display: flex;
}

}

@media (min-width: 1024px) {

body {
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    flex-direction: row;
    
}

.name {
    margin-top: 0;
    align-self: center;
    margin-right: auto;
    margin-left: 30px;
}

.nav {
    align-self: center;
    margin-right: 30px;
}

.nav li {
    margin-left: 10px;
}

.intro {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.intro-img {
    margin-right: .3%;
}

.card {
    width: 33.333%;
    margin-bottom: 30px;
}

.card p {
    width: 85%;
    height: 80px;
}

}
.cf::after {
    content:"";
    display: table;
    clear: both;
  }